
<div class="content">
    <div class="HomePageView">
        <p style="color:blue"><h1>WELCOME TO NERDS ON SITE!</h1></p>
   

    
        <p>What would you like to do? Please choose one of these options:</p>
        <br />

        <ol>
            <li><a href="/Cars/Create">Add a car?</a></li>
            <li><a href="/Cars/Index">View List of cars?</a></li>
            <li><a href="/Cars/Index">Edit or Delete a car?</a></li>
        </ol>
    </div>
</div>